html, body, #map {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

#search {
  padding-right: 5px;
  display: inline-block;
}

#overlay {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-image: url("../img/Overlay_Manager_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1.5px solid #928F8F;
  display: inline-block;
  z-index:3;
}

#overlay:hover{
  background-image: url("../img/Overlay_Manager_Hover.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#basemaps.selected{
  background-image: url("../img/Overlay_Manager_Selected.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#basemaps {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-image: url("../img/BaseMaps_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 1.5px solid #928F8F;
  border-radius: 5px;
  display: inline-block;
  z-index:3;
}

#basemaps:hover{
  background-image: url("../img/BaseMaps_Hover.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#basemaps.selected{
  background-image: url("../img/BaseMaps_Selected.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#map-controls {
  position: absolute;
  top: 20px;
  z-index: 2;
  right: 20px;
  display: inline-block;
}

.esriAttribution {
  visibility: hidden;
}

.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail{ 
  border-color: #2BA2CD !important; 
  margin-bottom: 2px;
}

.esriBasemapGalleryLabelContainer {
  height: 3em;
  overflow:visible;
}

#popover_content_wrapper {
  visibility: hidden;
  background: #fff;
  width: 376px;
  top: 60px;
  right:65px;
  border:2px solid #666;
}

.basemaptip {
  position: absolute;
  background: #fff;
  border: 2px solid #666;
  border-radius: 8px;
}

.basemaptip:after, .basemaptip:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.basemaptip:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 25px;
  margin-left: -25px;
}

.basemaptip:before {
  border-color: rgba(102, 102, 102, 0);
  border-bottom-color: #666;
  border-width: 28px;
  margin-left: -28px;
}

.esriBasemapGalleryNode {
  padding:5px;
  padding-top: 10px;
}

.esriSimpleSliderIncrementButton{
  background-image: url("../img/Zoom_In_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 1.5px solid #928F8F;
}

.esriSimpleSliderDecrementButton{
  background-image: url("../img/Zoom_Out_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 1.5px solid #928F8F;
}

.esriSimpleSliderDecrementButton:hover{
  background-color: transparent;
  background-image: url("../img/Zoom_Out_Hover.png");
  background-position: center center;
  background-color: transparent;
}
.esriSimpleSliderIncrementButton:hover{
  background-color: transparent;
  background-image: url("../img/Zoom_In_Hover.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.esriSimpleSliderDecrementButton:active{
  background-color: transparent;
  background-image: url("../img/Zoom_Out_Selected.png");
  background-position: center center;
  background-color: transparent;
}
.esriSimpleSliderIncrementButton:active{
  background-color: transparent;
  background-image: url("../img/Zoom_In_Selected.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.esriSimpleSlider {
  border: none;
  background-color: transparent;
}
.esriSimpleSlider div {
  font-size:0px;
  height:28px;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom: none;
}
.tooltip > .tooltip-inner {
  background-color: #666666;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #666666; 
}

@media (max-height: 500px) {
  #popover_content_wrapper {
    width: 616px;
    right: 67px;
  }
  .basemaptip:after {
    left: 70%;
  }
  .basemaptip:before {
    left: 70%;
  }
}