html, body {
  margin:0;
  padding:0;
}

img {
  margin-bottom: 5px;
  margin-left: 5px;
}

.tooltip > .tooltip-inner {
  background-color: #666666;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #666666;
}

.sizer > .titlePane {
  background-color: #0E6280;
}

.pointer {
  background-color: #0E6280;
}

.form-horizontal .control-label {
  font-weight: normal;
  text-align: left;
  vertical-align: center;
  margin-left: 0px;

}

.help-block {
  display: none;
}

#form-container {
  display: block;
  width: 100%;
  padding-left: 15px;

}

#image-collection-query-form-div {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 175px;
  min-width: 335px;
}

#msg-area {
  display: block;
  height: 60px;
}

#query-form-title {
  font-style: bold;
  background-color: #428bca;
  color: white;
  padding-left: 0px;
  padding-top: 5px;
  height: 30px;
}

#query-hr {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #666;
}

#widget-title {
  font-size: 18px;
  margin-bottom: 10px;
}

#loading {
  float: right;
}

#tooltip-x-button {
  margin-top: -12px;
  margin-right:2px;
}

#query-btn-bar {
  display: block;
}

#query-btn-bar2 {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  border: 2px solid green;
}

#query-btn {
  float: right;
  margin-top: 10px;
  margin-right: 55px;
  margin-bottom: 10px;
}

#overlay-delete-icon{
  height:25px;
  width:25px;
  bottom: 0px;

  right: 8px;
  position: absolute;
  background-image: url("../images/icons/Remove_Overlay_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
}