html, body {
  display:block;
  margin:0;
  padding:0;
  overflow-y:none;
  autoscrolls:none;
}

img {
  margin-bottom: 5px;
  margin-left: 5px;
}

.tooltip > .tooltip-inner {
  background-color: #666666;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #666666;
}

.sizer > .titlePane {
  background-color: #0E6280;
}

.pointer {
  background-color: #0E6280;
}

.form-horizontal .control-label {
  font-weight: normal;
  text-align: left;
  vertical-align: center;
}

.help-block {
  display: none;
}

#form-container {
  display:block;
}

#image-collection-query-form {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 225px;
  border: 2px solid red;
}

#query-form-title {
  font-style: bold;
  background-color: #428bca;
  color: white;
  padding-left: 26px;
  padding-top: 5px;
  height: 30px;
}

#query-hr {
  position: absolute;
  border: 1px solid #666;
  width: 100%;
  position: absolute;
  bottom: 40px;
}

#widget-title {
  font-size: 18px;
  margin: 20px 20px 10px;
}

#loading {
  float: right;
}



#tooltip-x-button {
  margin-top: -12px;
  margin-right:2px;
}

#query-btn-bar {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 35px;
}
#query-btn {
  margin-right: 5px;
  margin-bottom: 5px;
}

#overlay-delete-icon{
  height:25px;
  width:25px;
  bottom: 0px;

  right: 8px;
  position: absolute;
  background-image: url("../images/icons/Remove_Overlay_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
}