html, body {
  margin:0px;
  padding:0px;
  height:100%;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  margin-bottom: 5px;
  margin-left: 5px;
}

.tooltip > .tooltip-inner {
  background-color: #666666;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #666666;
}

.sizer > .titlePane {
  background-color: #0E6280;
}

.pointer {
  background-color: #0E6280;
}

.form-horizontal .control-label {
  font-weight: normal;
  text-align: left;
  vertical-align: center;
}

.help-block {
  display: none;
}

.form-control {
  float:right;
  padding:0px;
  padding-top: 7px;
}

.control-label {
  margin-left:20px;
}

.label-position {
  clear:both;
  display:inline;
  text-align: left;
  float: left;
  width: 24%;
}

.control-position {
  display: inline;
  float:right;
  padding: 0px;
  margin: 0px;
  width: 74%;
  *width: 65%; /* IE 7 sizing issue work-around. */
  padding-right:20px;
}

.form-group-div {
  clear:both;
  margin-top: 15px;
  display:block;
  height: 40px;
}

.form-group-div-cloud {
  clear:both;
  margin-top: 15px;
  display:block;
  height: 45px;
}

.dijitSliderBarH {
  height: 8px;
  border-width: 1px 0;
}

.dijitSliderBumperH {
  width: 8px;
  height: 8px;
  border-width: 1px 0;
}

#widget-title-span {
  width: 100%;

}

#instruction-span {
  width: 100%;
}

#form-container {
  display: block;
  width: 100%;

}

#cloud-cover-slider {
  height: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

#cloud-label {
  margin-top:8px;
}

#image-collection-query-form-div {
  min-height: 175px;
  min-width: 335px;
  width:100%;
  margin: 0px;
  padding: 0px;
}

#msg-area {
  display: block;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
}

#query-form-title {
  background-color: #428bca;
  color: white;
  padding-left: 20px;
  padding-top: 5px;
  height: 30px;
}

#query-form-title span {
  font-style: bold;
}

#query-hr {
  margin-top: 5px;
  width: 100%;
  border: 1px solid #666;
}

#widget-title {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
  height: 26px;
}

#loading {
  float: right;
}

#tooltip-x-button {
  margin-top: -12px;
  margin-right:2px;
}

#query-btn-bar {
  display: block;
  margin-right: 0px;
}

#query-btn-bar2 {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  border: 2px solid green;
}

#query-btn {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

#overlay-delete-icon{
  height:25px;
  width:25px;
  bottom: 0px;

  right: 8px;
  position: absolute;
  background-image: url("../images/icons/Remove_Overlay_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#zoom-to {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 6px;
}