html, body, #map {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

#search {
  padding-right: 5px;
  display: inline-block;
}

#overlay {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/Overlay_Manager_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1.5px solid #928F8F;
  display: inline-block;
  z-index:3;
}

#overlay:hover{
  background-image: url("../images/icons/Overlay_Manager_Hover.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#overlay.selected{
  background-image: url("../images/icons/Overlay_Manager_Selected.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#basemaps.selected{
  background-image: url("../images/icons/BaseMaps_Selected.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#basemaps {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/BaseMaps_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 1.5px solid #928F8F;
  border-radius: 5px;
  display: inline-block;
  z-index:3;
}

#basemaps:hover{
  background-image: url("../images/icons/BaseMaps_Hover.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#basemaps.selected{
  background-image: url("../images/icons/BaseMaps_Selected.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#map-controls {
  position: absolute;
  top: 20px;
  z-index: 2;
  right: 20px;
  display: inline-block;
}

.esriAttribution {
  visibility: hidden;
}

.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail{ 
  border-color: #2BA2CD !important; 
  margin-bottom: 2px;
}

.esriBasemapGalleryLabelContainer {
  height: 3em;
  overflow:visible;
}

#popover_content_wrapper {
  visibility: hidden;
  background: #fff;
  width: 376px;
  top: 60px;
  right:65px;
  border:2px solid #666;
}

.basemaptip {
  position: absolute;
  background: #fff;
  border: 2px solid #666;
  border-radius: 8px;
}

.basemaptip:after, .basemaptip:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.basemaptip:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 25px;
  margin-left: -25px;
}

.basemaptip:before {
  border-color: rgba(102, 102, 102, 0);
  border-bottom-color: #666;
  border-width: 28px;
  margin-left: -28px;
}

#popover_overlay_wrapper {
  visibility: hidden;
  background: #fff;
  width: 376px;
  height: 400px;
  top: 60px;
  right:106px;
  border:2px solid #666;
}

.overlaytip {
  position: absolute;
  background: #fff;
  border: 2px solid #666;
  border-radius: 8px;
}

.overlaytip:after, .overlaytip:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.overlaytip:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 25px;
  margin-left: -25px;
}

.overlaytip:before {
  border-color: rgba(102, 102, 102, 0);
  border-bottom-color: #666;
  border-width: 28px;
  margin-left: -28px;
}

.esriBasemapGalleryNode {
  padding:5px;
  padding-top: 10px;
}

.esriSimpleSliderIncrementButton{
  background-image: url("../images/icons/Zoom_In_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 1.5px solid #928F8F;
}

.esriSimpleSliderDecrementButton{
  background-image: url("../images/icons/Zoom_Out_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 1.5px solid #928F8F;
}

.esriSimpleSliderDecrementButton:hover{
  background-color: transparent;
  background-image: url("../images/icons/Zoom_Out_Hover.png");
  background-position: center center;
  background-color: transparent;
}
.esriSimpleSliderIncrementButton:hover{
  background-color: transparent;
  background-image: url("../images/icons/Zoom_In_Hover.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.esriSimpleSliderDecrementButton:active{
  background-color: transparent;
  background-image: url("../images/icons/Zoom_Out_Selected.png");
  background-position: center center;
  background-color: transparent;
}
.esriSimpleSliderIncrementButton:active{
  background-color: transparent;
  background-image: url("../images/icons/Zoom_In_Selected.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.esriSimpleSlider {
  border: none;
  background-color: transparent;
}
.esriSimpleSlider div {
  font-size:0px;
  height:28px;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom: none;
}
.tooltip > .tooltip-inner {
  background-color: #666666;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #666666; 
}
#overlay-hr-wrapper {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#overlay-tree {
  position: absolute;
  left: 20px;
  top: 10px;
}
#overlay-hr {
  border: 1px solid #666;
  width: 100%;
  position: absolute;
  bottom:25px;
}
#overlay-vr {
  position: absolute;
  border-left: 2px solid #666;
  bottom: 0px;
  height:25px;
  right: 40px;
}
#overlay-icon {
  height:25px;
  width:25px;
  bottom: 0px;
  right: 8px;
  position: absolute;
  background-image: url("../images/icons/Settings_Default.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#overlay-icon:hover {
  background-image: url("../images/icons/Settings_Hover.png");
}
input[type="checkbox"] {
  margin: 10px 3px 0;
}
#meta {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 300px;
    height: 100px;
    z-index: 40;
    background: #fff;
    color: #777;
    padding: 5px;
    border: 2px solid #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    font-family: arial;
    font-size: 0.9em;
  }
  #meta h3 {
    color: #666;
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    display: inline-block;
  }
  #loading { 
    float: right;
  }

  .sizer > .titlePane {
    background-color: #0E6280;
  }
  .pointer {
    background-color: #0E6280;
  }
  .titleButton, .close {
    opacity: 1;
  }
  .maximize:hover, .restore:hover {
    opacity: 0.2;
  }
  .esriPopup a {
    text-decoration: none;
  }
  .esriPopup a:hover {
    text-decoration: underline;
  }


@media (max-height: 500px) {
  #popover_content_wrapper {
    width: 616px;
    right: 67px;
  }
  .basemaptip:after {
    left: 70%;
  }
  .basemaptip:before {
    left: 70%;
  }
}