html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#map {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    float:right;
}

.esri_info_div {
    height: 100%;
    width: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    overflow:hidden;
}

#legend {
    height:100%;
    width:0;
    margin:0;
    padding:0;
    border:0;
    display:inline-block;
    overflow:hidden;
    /*FIXME*/
    background-color: #00FF00;
}

.legend_vertical_divider {
    height: 100%;
    width: 0px;
    margin: 0;
    padding: 0;
    border:0;
    display:inline-block;
    /*FIXME*/
    background-color: #FF0000;
}

.legend_button {
    height: 25px;
    width: 25px;
    float: left;
    position: absolute;
    z-index: 2;
    top: 50%;
    /*FIXME*/
    background-color: #000000;
}

.esri_bottom_data_div {
    width: 100%;
    margin:0;
    padding:0;
}

.esri_bottom_data_button {
    height: 25px;
    width: 25px;
    float: ;
    position: absolute;
    z-index: 2;
    left: 50%;*/
    background-color: #0000FF;
}

#search {
    padding-right: 5px;
    display: inline-block;
}
#overlay {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-image: url("../images/icons/Overlay_Manager_Default.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 1.5px solid #928F8F;
    display: inline-block;
    z-index:3;
}
#overlay:hover{
    background-image: url("../images/icons/Overlay_Manager_Hover.png");
    background-position: center center;
    background-repeat: no-repeat;
}
#overlay.selected{
    background-image: url("../images/icons/Overlay_Manager_Selected.png");
    background-position: center center;
    background-repeat: no-repeat;
}
#basemaps.selected{
    background-image: url("../images/icons/BaseMaps_Selected.png");
    background-position: center center;
    background-repeat: no-repeat;
}
#basemaps {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-image: url("../images/icons/BaseMaps_Default.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1.5px solid #928F8F;
    border-radius: 5px;
    display: inline-block;
    z-index:3;
}
#basemaps:hover{
    background-image: url("../images/icons/BaseMaps_Hover.png");
    background-position: center center;
    background-repeat: no-repeat;
}
#basemaps.selected{
    background-image: url("../images/icons/BaseMaps_Selected.png");
    background-position: center center;
    background-repeat: no-repeat;
}
#map-controls {
    position: absolute;
    top: 20px;
    z-index: 2;
    right: 20px;
    display: inline-block;
}
.esriAttribution {
    visibility: hidden;
}
.esriSimpleSliderIncrementButton{
    background-image: url("../images/icons/Zoom_In_Default.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1.5px solid #928F8F;
}
.esriSimpleSliderDecrementButton{
    background-image: url("../images/icons/Zoom_Out_Default.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1.5px solid #928F8F;
}
.esriSimpleSliderDecrementButton:hover{
    background-color: transparent;
    background-image: url("../images/icons/Zoom_Out_Hover.png");
    background-position: center center;
    background-color: transparent;
}
.esriSimpleSliderIncrementButton:hover{
    background-color: transparent;
    background-image: url("../images/icons/Zoom_In_Hover.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.esriSimpleSliderDecrementButton:active{
    background-color: transparent;
    background-image: url("../images/icons/Zoom_Out_Selected.png");
    background-position: center center;
    background-color: transparent;
}
.esriSimpleSliderIncrementButton:active{
    background-color: transparent;
    background-image: url("../images/icons/Zoom_In_Selected.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.esriSimpleSlider {
    border: none;
    background-color: transparent;
}
.esriSimpleSlider div {
    font-size:0px;
    height:28px;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
    border-bottom: none;
}
.tooltip > .tooltip-inner {
    background-color: #666666;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #666666;
}
#meta {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 300px;
    height: 100px;
    z-index: 40;
    background: #fff;
    color: #777;
    padding: 5px;
    border: 2px solid #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: arial;
    font-size: 0.9em;
}
#meta h3 {
    color: #666;
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
#loading {
    float: right;
}
.sizer > .titlePane {
    background-color: #0E6280;
}
.pointer {
    background-color: #0E6280;
}
.titleButton, .close {
    opacity: 1;
}
.maximize:hover, .restore:hover {
    opacity: 0.2;
}
.esriPopup a {
    text-decoration: none;
}
.esriPopup a:hover {
    text-decoration: underline;
}
.esriPopup .pointer, .esriPopup .outerPointer {
    position: absolute;
    background: url("../images/icons/Esri_Detail_Triangles.png") no-repeat;
}
.esriPopup .pointer.topLeft {
    background-position: -75px -525px;
}
.esriPopup .pointer.topRight {
    background-position: -75px -706px;
}
.esriPopup .pointer.top {
    background-position: -73px -618px;
}
img {
    margin-bottom: 5px;
    margin-left: 5px;
}

#map .scalebar_bottom-left.esriScalebar {
    position: relative;
    bottom: 40px;
}
